html {
  font-size: 62.5%;
}

body {
  font-family: ChakraPetch, helvetica;
  font-size: 1.6rem;
  line-height: 1.5;
}

.link {
  text-decoration: none;
  color: $white;


  &:hover {
    transition: color $speed-std ease-in-out;
    color: $black;
  }
}
